{% extends 'base.jinja '%}

{% block content %}
  <div class="pure-u-1-4">
    <form class="pure-form pure-form-aligned">
      {{ form.csrf_token }}
      <div class="pure-control-group">
        {{ form.text.label }}
        {{ form.text }}
      </div>
      <div class="pure-control-group">
        {{ form.intent.label }}
        {{ form.intent }}
      </div>
    </form>
  </div>
{% endblock %}
